<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bitsorific.standup"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/standup_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_label"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity">
            </meta-data>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/settings_label"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity">
            </meta-data>
        </activity>

        <service android:name=".service.CountDownService"></service>
        <!-- Service that provides activity recognition data. Setting the android:exported attribute
        to "false" stops other apps from starting this service, even when using an explicit
        intent. -->
        <service
            android:name=".service.DetectedActivitiesIntentService"
            android:exported="false" />

    </application>

</manifest>
